<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tailwind.css">
    <title>Document</title>
</head>
<body>
    
        <h1 class="bg-red-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur sequi, sunt soluta hic magnam, harum adipisci autem quia at ipsum exercitationem eos in qui explicabo. Aliquam dolorem incidunt voluptate consequatur! Quis impedit aspernatur vel? Optio magni maiores tempore libero quibusdam similique, culpa modi veritatis ipsum autem minima debitis consequatur odit ea ducimus commodi? Consequuntur, aut commodi, omnis eveniet totam sit distinctio fugit ullam ipsam blanditiis, iusto in quisquam nihil quos numquam ab earum possimus esse? At sint aut quia, quis amet minus voluptas hic voluptatem mollitia quidem quas iure autem vel maiores quasi rerum recusandae saepe! Assumenda fugit reiciendis vel sit?</h1>
</body>
</html>